<div class="container">
  <!-- In Theaters -->
  <div *ngIf="movies$ | async as movies">
    <div class="h4 font-weight-bold my-4">In Theaters</div>
    <div class="row">
      <div class="col-sm-6 col-lg-3 mb-4" *ngFor="let media of (movies.data | slice:0:4)">
        <app-media-item [media]="media" [vertical]="true"></app-media-item>
      </div>
    </div>
  </div>
  <!-- /In Theaters -->

  <!-- On TV -->
  <div *ngIf="tvShows$ | async as tvShows">
    <div class="h4 font-weight-bold my-4">On TV</div>
    <div class="row">
      <div class="col-sm-6 col-lg-3 mb-4" *ngFor="let media of (tvShows.data | slice:0:4)">
        <app-media-item [media]="media" [vertical]="true"></app-media-item>
      </div>
    </div>
  </div>
  <!-- On TV -->
</div>
