<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle cursor-pointer" role="button" [class.dropdown-toggle]="isArray(menuItem.data)"
    (click)="showDropdown = !showDropdown" #elementRef>{{ menuItem.label }}</a>
  <div class="dropdown-menu dropdown-menu-card" [class.show]="showDropdown" *ngIf="isArray(menuItem.data)">
    <div class="bg-white rounded-soft py-2">
      <a class="dropdown-item" [routerLink]="dropdown.data" *ngFor="let dropdown of menuItem.data"
        routerLinkActive="active">{{ dropdown.label }}</a>
    </div>
  </div>
</li>
