<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle cursor-pointer" role="button" [class.dropdown-toggle]="isArray(menuItem.data)"
    (click)="show = !show">{{ menuItem.label }}</a>
  <div class="dropdown-menu dropdown-menu-card" [class.show]="show" *ngIf="isArray(menuItem.data)">
    <div class="bg-white rounded-soft py-2">
      <a class="dropdown-item" [routerLink]="dropdown.data"
        *ngFor="let dropdown of menuItem.data">{{ dropdown.label }}</a>
    </div>
  </div>
</li>
