<div class="card">
  <div class="card-header bg-light">
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Top billed cast</h5>
      <button class="btn btn-falcon-default btn-sm mr-1 mb-1" type="button"
        [routerLink]="['/' + type, mediaId, 'credits']">
        Full Cast & Crew
      </button>
    </div>

  </div>
  <div class="card-body">
    <div class="row" *ngIf="cast.length; else noCast">
      <!-- Top billed cast -->
      <div class="col-6 col-md-4 col-lg-4 col-xxl-2 mb-1" *ngFor="let credit of (cast | slice:0:6)">
        <div class="h-100 text-center">
          <a [routerLink]="['/person', credit.id]" class="person-image mb-3 d-block">
            <img class="img-fluid rounded shadow-sm"
              [src]="'https://image.tmdb.org/t/p/w138_and_h175_face' + credit.profilePath" width="100"
              *ngIf="credit.profilePath; else missingCastMedia">
            <ng-template #missingCastMedia>
              <div
                class="person-no-image text-muted h-100 d-flex rounded align-items-center justify-content-center bg-light">
              </div>
            </ng-template>
          </a>
          <h6 class="mb-1"><a [routerLink]="['/person', credit.id]">{{ credit.name }}</a></h6>
          <p class="fs--2 mb-1"><span class="text-700">{{ credit.character }}</span></p>
        </div>
      </div>
      <!-- /Top billed cast -->

    </div>

    <ng-template #noCast>
      <div class="fs--1 mb-3">
        We don't have any cast added to this movie. You can help by adding some!
      </div>
      <button class="btn btn-sm btn-falcon-primary">
        Login to Edit Cast & Crew
      </button>
    </ng-template>
  </div>
</div>
