.cast-no-image:before {
  content: "\f03e";
  font-family: 'FontAwesome';
}

.cast-image {
  max-height: 150px;
}

.media-holder {
  height: 66px;
}

.cast-no-image {
  max-width: 66px;
}

@media only screen and (max-width: 480px) {
  .media-poster {
    img {
      width: 100%;
    }

    max-height: 190px;
    overflow: hidden;
    border-radius: 5px;
    padding: 0;
  }
}
