<app-page-title [ngSwitch]="media.mediaType">
  <div class="row">
    <div class="col-2 col-lg-1">
      <app-profile-image [path]="media.posterPath" size="xs"></app-profile-image>
    </div>
    <div class="col-10 col-lg-11">
      <h4 class="mb-3 font-weight-bold">{{ media.title }} <span class="text-muted small">
          <ng-container *ngSwitchCase="'movie'">({{ media.releaseDate | date:'y' }})</ng-container>
          <ng-container *ngSwitchCase="'tv'">({{ media.firstAirDate | date:'y' }})</ng-container>
        </span>
      </h4>

      <a [routerLink]="['/' + media.mediaType, media.id]" class="btn btn-falcon-primary btn-sm">
        <span class="fa fa-long-arrow-left mr-2"></span> Back to main
      </a>
    </div>
  </div>
</app-page-title>
